<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBd2Gt-OUrCd952NXhVUfAe-4nHuOg8rs0</string>
	<key>GCM_SENDER_ID</key>
	<string>789598331543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.zenapp</string>
	<key>PROJECT_ID</key>
	<string>zen-tracker-b370e</string>
	<key>STORAGE_BUCKET</key>
	<string>zen-tracker-b370e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789598331543:ios:1cb598f8d4e2f52f603fd2</string>
</dict>
</plist>